:root {
  --title-fontSize: 40px;
  --title-secondary-fontSize: 30px;
  --subTitle-secondary-fontSize: 20px;
  --regular-fontSize: 15px;
  --text-xs: 10px;
  --footer-text-size: 12px;
  --rubik-bold: 700;
  --rubik-regular: 400;
  --italic-text: italic;
  --text-white: #fff;
  --text-black: #000000;
  --text-orange: #df661c;
  --bg-orange: #df661c;
  --bg-black: #000000;
  --bg-white: #ffffff;
  --bg-lightPink: #fff2ea;
}

@media screen and (max-width: 767px) {
  nav {
    padding: 12px 25px;

    justify-content: space-between;
    ul {
      display: none;
    }
    .btn {
      display: none;
    }
    .bar-label {
      width: fit-content;
      display: block;
      cursor: pointer;
    }
    input {
      visibility: hidden;
    }
  }

  /* private carter  */

  /* hero section */
  #hero {
    p {
      left: 2rem;
      width: 200px;
      height: 50px;
      font-size: var(--subTitle-secondary-fontSize);
    }
  }

  #booking {
    padding: 0px 2rem;
    .bookingContent {
      .states {
        .active {
          padding: 8px 25px;
        }
      }
      .content {
        padding: 40px 2rem;

        .form {
          flex-direction: column;
        }
      }
    }
    .sample-content {
      flex-direction: column;
    }
  }

  #cards {
    padding: 0px 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  #fleets {
    .card-section {
      .cards {
        padding: 0px 2rem;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  #banner {
    padding: 0px 2rem;
    div {
      padding: 1rem 2rem;

      .title,.regular{
        width: 100%;
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;

    padding: 1rem 2rem;

    & > :first-child {
      grid-column: 1 / -1;
    }
  }
}
