:root {
  --title-fontSize: 40px;
  --title-secondary-fontSize: 30px;
  --subTitle-secondary-fontSize: 20px;
  --regular-fontSize: 15px;
  --text-xs: 10px;
  --footer-text-size: 12px;
  --rubik-bold: 700;
  --rubik-regular: 400;
  --italic-text: italic;
  --text-white: #fff;
  --text-black: #000000;
  --text-orange: #df661c;
  --bg-orange: #df661c;
  --bg-black: #000000;
  --bg-white: #ffffff;
  --bg-lightPink: #fff2ea;
}

@media screen and (max-width: 767px) {
  nav {
    padding: 12px 25px;

    justify-content: space-between;
    ul {
      display: none;
    }
    .btn {
      display: none;
    }

    .bar-label {
      width: fit-content;
      display: block;
      cursor: pointer;
    }
    input {
      visibility: hidden;
    }

    .mobile-nav {
      z-index: 20;
      display: flex;
      flex-direction: column;
      align-items: start;
      position: absolute;
      top: -40px;
      right: -100%;
      min-width: 300px;
      min-height: 100vh;
      background-color: var(--bg-white);
      padding: 3rem 1rem;
      gap: 2rem;
      transition: all 0.3s linear;

      label {
        img {
          margin-top: 1rem;
          border: 1px solid var(--text-orange);
          cursor: pointer;
          width: 30px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: start;

        li > a:hover {
          color: var(--text-orange);
        }
      }
    }

    .bar-input:checked ~ .mobile-nav {
      right: 0;
    }
  }
  /* home */
  #about {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column-reverse;

    .left {
      width: 100%;
      margin-top: 47rem;
      align-items: center;

      .title {
        text-align: center;
      }

      .content {
        text-align: justify;
      }
    }
    .top {
      min-width: 430px;
      top: -5%;
      left: 50%;
      transform: translateX(-50%);
      .states {
        .active {
          padding: 8px 30px;
          background-color: var(--bg-orange);
        }
      }
      form {
        grid-template-columns: repeat(1, 1fr);
        .form-labels {
          .inside {
            width: 100%;
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }

  /* popular */
  /* popular  section */
  #popular {
    padding: 0rem 2rem;
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  /* service */
  #service{
    padding: 0rem 2rem;
    width: 100%;
    /* background-color: var(--bg-lightPink); */
    .sample{
      width: 100%;
      padding: 4rem 3rem;
      
      .content{
        width: 100%;
        /* display: flex; */
        flex-direction: column;
        img{
          width: 80%;
        }
        .cards {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 2rem;
          .card {
            padding: 2rem 1rem;
            img{
              width: 80px;
            }
          }
        }
    
      }
    }
  }

  #benefits{
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    .images{
      .img1{
        width: 100%;
      }
    }
  }


  /* private carter  */

  /* hero section */
  #hero {
    p {
      left: 2rem;
      width: 200px;
      height: 50px;
      font-size: var(--subTitle-secondary-fontSize);
    }
  }

  #booking {
    padding: 0px 2rem;
    .bookingContent {
      .states {
        .active {
          padding: 8px 25px;
        }
      }
      .content {
        padding: 40px 2rem;

        .form {
          flex-direction: column;
        }
      }
    }
    .sample-content {
      flex-direction: column;
    }
  }

  #cards {
    padding: 0px 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  #fleets {
    .card-section {
      .cards {
        padding: 0px 2rem;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  #banner {
    padding: 0px 2rem;
    div {
      padding: 1rem 2rem;

      .title,
      .regular {
        width: 100%;
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;

    padding: 1rem 2rem;

    & > :first-child {
      grid-column: 1 / -1;
    }
  }
}
